body {
    margin: 0;
    font-family: 'Digital-7', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
}
